
<div class="footwrap">
    <div class="container" id="contact">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <h2>CONTATOS</h2>
            </div>
            <div class="col-md-6">
                <p><t>Email</t><br><a href="mailto:thiago_melo1993@hotmail.com">                        thiago_melo1993@hotmail.com</a><br></p>
                @*<p><t>Endereço</t><br>Rua Demas Zitto, 456                                                                          <br>São Paulo, SP.                                            <br></p>*@
                <p><t>Telefone</t><br>+55 (011) 98761-2819                                                    <br></p>
            </div>
            <div class="col-md-3">
                <p><sm>SOCIAL LINKS</sm></p>
                <p class="social-icons">
                    <a target="_blank" href="https://twitter.com/Thiago_d_melo"><i class="icon-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/thiago.demelolima"><i class="icon-facebook"></i></a>
                    <a target="_blank" href="https://br.linkedin.com/in/thiagodmelo"><i class="icon-linkedin"></i></a>
                </p>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</div>