<div class="container desc portfolio" id="portfolio">
    <div class="row portfolio-item">
        <div class="col-md-6 col-md-offset-3">
            <p><a target="_blank" href="http://www.comicssoul.com.br/"><img class="img-responsive" src="Content/img/port03.png" alt=""></a>
        </div>
        <div class="col-md-3">
            <p><a target="_blank" href="http://www.comicssoul.com.br/">COMICS' SOUL</a></p>
            <p class="text-success">
                <more>
                    Criei juntamente com alguns amigos a plaraforma de venda e streaming de quadrinhos chamada Comics' Soul.
                    Que oferece aos criadores de conteúdo em quadrinhos uma forma simples de disseminar suas óbras diretamente para seu público alvo.<br />
                    <sm>
                        <i class="icon-tag"></i> Empreendedorismo
                    </sm>
                </more>
            </p>
        </div>
    </div>

    <div class="row portfolio-item">
        <div class="col-md-2 col-md-offset-1">
            <h2>Portfólio</h2>
        </div>
        <div class="col-md-6">
            <p>
                <a target="_blank" href="http://merck.novatela.com.br/"><img class="img-responsive" src="Content/img/port01.png" alt=""></a>
            </p>
        </div>
        <div class="col-md-3">
            <p>Sistema de Gestão de Atividades e Apontamento de Tarefas</p>
            <p class="text-success">
                <more>
                    Atualmente estou trabalhando em uma aplicação web para gerenciamento e controle de atividades que foi desenvolvida do zero por mim e a <a target="_blank" href="http://www.novatela.com.br/">NovaTela Solutions</a> para a empresa <a target="_blank" href="http://www.merck.com.br/pt/index.html">Merck</a>.
                    <br />
                    <sm>
                        <i class="icon-tag"></i> ASP.NET MVC 5
                    </sm>
                </more>

            </p>
        </div>
    </div>


    <div class="row portfolio-item">
        <div class="col-md-6 col-md-offset-3">
            <p>
                <a target="_blank" href="http://projetos.novatela.com.br/pride/">
                    <img class="img-responsive" src="Content/img/port02.png" alt="">
                </a>
            </p>
        </div>
        <div class="col-md-3">
            <p>ESTUDO PRIDE</p>
            <p class="text-success">
                <more>
                    Criei juntamente com a <a target="_blank" href="http://www.novatela.com.br/">NovaTela Solutions</a>
                    a estrutura e o layout do <a target="_blank" href="http://projetos.novatela.com.br/pride/">ESTUDO PRIDE</a>
                    para armazenamento de dados eletronicamente, através das demandas de pesquisas clínicas,  para a <a target="_blank" href="http://www.unicamp.br/unicamp/">UNICAMP</a>.
                    <br />
                    <sm>
                        <i class="icon-tag"></i> design
                    </sm>
                </more>
            </p>
        </div>
    </div>
    @*<div class="row portfolio-item">
            <div class="col-md-6 col-md-offset-3">
                <p><img class="img-responsive" src="Content/img/port03.png" alt=""></p>
            </div>
            <div class="col-md-3">
                <p>COMICS' SOUL</p>
                <p class="text-success">
                    <more>
                        Criei juntamente com alguns amigos a plaraforma de venda e streaming de quadrinhos chamada Comics' Soul.
                        Que oferece aos criadores de conteúdo em quadrinhos uma forma simples de disseminar suas óbras diretamente para seu público alvo, com a flexibilidade de três formas de pagamento para os usuários.
                        Além de permitir que seus usuários adquiriram suas histórias em quadrinhos através de planos com assinaturas mensais, alugueis ou até mesmo a compra avulsa da sua edição favorita.
                        <sm>
                            <i class="icon-tag"></i> plaraforma
                        </sm>
                    </more>
                </p>
            </div>
        </div>*@
</div>
