<div class="container desc bottom-divider" id="resume">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h2>Formação Academica</h2>
        </div>
        <div class="col-md-6">
            <p><t><a target="_blank" href="http://www.sp.senac.br/jsp/default.jsp?newsID=DYNAMIC,oracle.br.dataservers.CourseDataServer,selectCourse2&course=10420&template=409.dwt&testeira=727&unit=CAS&sub=1">TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</a></t><br />CENTRO UNIVERSITÁRIO SENAC – CAMPUS SANTO AMARO                <br /><i>5º Semestre</i></p>
            @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. An unknown printer took a galley of type and scrambled it to make a type specimen book.            </p>*@
        </div>
        <div class="col-md-3">
            <p>
                <sm>
                    PREVISÃO DE CONCLUSÃO:
                    <br>
                </sm><imp>
                    <sm>JULHO/2016</sm>
                </imp>
            </p>
        </div>
    </div>
</div>
<div class="container desc bottom-divider" id="resume">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h2>CURSOS EXTRA-CURRICULARES</h2>
        </div>
        <section class="certificado">
            <div class="col-md-6">
                <p><t>Banco de Dados</t><br>ALURA powered by Caelum                            <br><i>24 horas</i></p>
                <p><a href="https://www.alura.com.br/user/25859/course/introducao-a-banco-de-dados-e-sql/certificate">Modelagem de Banco de dados Relacional</a> e <a href="https://www.alura.com.br/user/25859/course/banco-de-dados-e-sql-complexas/certificate">Consultas Complexas com SQL</a>.</p>
            </div>
            <div class="col-md-3 desc">
                <p>
                    <sm>
                        MARÇO 2015
                        <br>
                    </sm><imp>
                        <sm>CONCLUÍDO.</sm>
                    </imp>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><t>HTML/CSS</t><br>ALURA powered by Caelum                            <br><i>92 horas</i></p>
                <p>
                    <a href="https://www.alura.com.br/user/25859/course/WD-42/certificate">Dando os primeiros passos na web com HTML e CSS </a>
                    ,
                    <a href="https://www.alura.com.br/user/25859/course/introducao-html-css/certificate">Introdução a HTML e CSS </a>
                    e
                    <a href="https://www.alura.com.br/user/25859/course/avancando-html-css/certificate"> Avançando no HTML e CSS</a>.
                </p>
            </div>
            <div class="col-md-3 desc">
                <p>
                    <sm>
                        MARÇO 2015
                        <br>
                    </sm><imp>
                        <sm>EM ANDAMENTO.</sm>
                    </imp>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><t>JavaScript</t><br>ALURA powered by Caelum                            <br><i>20 horas</i></p>
                <p><a href="https://www.alura.com.br/user/25859/course/a-linguagem-javascript/certificate">JavaScript, a linguagem</a>.</p>
            </div>
            <div class="col-md-3 desc">
                <p>
                    <sm>
                        MARÇO 2015
                        <br>
                    </sm><imp>
                        <sm>EM ANDAMENTO.</sm>
                    </imp>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><t>TÉCNICO EM INFORMÁTICA</t><br />ESCOLA PROFISSONALIZANTE NOSSA SENHORA DE FÁTIMA                <br /><i>1 Ano</i></p>
                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. An unknown printer took a galley of type and scrambled it to make a type specimen book.            </p>*@
            </div>
            <div class="col-md-3 desc">
                <p>
                    <sm>
                        FORMADO EM DEZEMBRO 2009.
                        <br>
                    </sm><imp>
                        <sm>CONCLUÍDO.</sm>
                    </imp>
                </p>
            </div>
        </section>
    </div>
</div>